<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Basic chat user interface" />
    <meta name="author" content="Jesse Bartola" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Basic Chat</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <script src="/js/react.js"></script>
    <script src="/js/JSXTransformer.js"></script>
    <!-- CUSTOM STYLE CSS -->
	<script src="/js/socket.io-1.3.7.js"></script>

	<script src="/js/tabs.js" type="text/javascript"></script>
</head>

<script>
$(document).ready(function() {
    chatsocket = io();
    
    $("#logout").on("click", function() {
    	chatsocket.emit("logout");
    });

    Number.prototype.padLeft = function(base,chr){
   		var  len = (String(base || 10).length - String(this).length)+1;
   		return len > 0? new Array(len).join(chr || '0')+this : this;
	}

  

});
</script>
<script type="text/jsx">

var currentUser;

var btnWidth = {
	width: "150px"
}

/*** @jsx React.DOM */
var ChatApp = React.createClass({

	getInitialState: function() {
		return {convos: [],
			messages: []
			};
	},

	componentDidUpdate: function(prevProps, prevState) {
		var audio = $(document).find("audio").get(0);

		if (this.state.convos.length > prevState.convos.length) {
			init();
		}

		var lastmessage = this.state.messages[this.state.messages.length-1];
			
		var hasConvo = false;
		if (lastmessage && currentUser.convos) {
			hasConvo = currentUser.convos.some(function(convo) {
				return convo._id === lastmessage.convo_fk;
			});
		}

		if (this.state.messages.length > prevState.messages.length &&
			lastmessage.user_fk.username != currentUser.username && hasConvo) {
			
			audio.play();
		}
	},

	getJSONInfo: function(callback) {
		$.getJSON("/api/user", function(user) {
        	if (user.username) {
        		currentUser = user;
        		$.getJSON("/api/convos", function(convos) {
        			currentUser.convos = convos;
        			$("#profile").html(user.username);
            		$("#lastlogin").html("Last login: " + generateDate(user.updated_at));
            		chatsocket.emit("loadUser", user);
            		if (callback) return callback();
        		});
            	
        	}
    	});
	},

	componentDidMount: function() {
		var that = this;

		this.getJSONInfo();

		chatsocket.on("refresh", function(data) {
			console.log("refreshing...");
			that.setState({convos: data});
			
		});

		chatsocket.on("new User", function(data) {
			
			that.setState({convos: data.convos});
    		that.setState({messages: data.messages});
			
    		
    		//console.log(that.state.convos);
    		
  		});

		chatsocket.on("new message", function(data) {
			that.getJSONInfo(function() {
				that.setState({messages: data});
				scrollToBottom();
			
				//console.log("messages length is " + data.length);
				console.log("message state updated!");
			});
			
		});
	},

	sendMessage: function() {
		if ($(".selected").length != 0) {
			chatsocket.emit("new message", {"message": $('#msgbox').val(), 
                        "username" : $("#profile").html(),
                        "recipient": $(".selected").attr("name")});
			$("#msgbox").val("");
		} else {
			Materialize.toast("You need a user to send a message to!", 4000);
		}
		
	},

	render: function() {
		return (
	<div id="MsgContainer">
		<br/>
    	<div className="row">
        	<div className="col s4">
            	
                <h6 id="lastlogin" className="left">Last login: null</h6>
        	</div>

        <div className="col s8">
            <div className="btn-panel btn-panel-msg">

                <a href="#" style={btnWidth} className="btn col s3 grey lighten-5 red-text text-darken-4 right" role="button"><i className="fa fa-gears"></i> Settings</a>
            </div>
        </div>
    </div>
		<div className="row">
			
			<Conversations messages={this.state.messages} convos={this.state.convos}/>
			
			<Messages convos={this.state.convos} messages={this.state.messages} sendMessage={this.sendMessage}/>

			
		</div>
	</div>
	)

	}


});

var Conversations = React.createClass({

	

	render: function() {

		// var usersOnline = this.props.online.sort(function(a, b) { return b - a});

		var convoRows = this.props.convos.map(function(data) {

			if (data.username == currentUser.username) {
				return;
			}

			return (
			<ConvoRow key={data.socket} otheruser={data.username} time={data.time} />
			)

		});


		return (
		<div className="conversation-wrap col s4">
			<div className="card-panel grey lighten-5 red-text text-darken-4">
                    <strong>Conversations</strong>
            </div>
        	<ul id="tabs">
				{convoRows}
			</ul>
    	</div>
    	)

	}
	

});

var ConvoRow = React.createClass({

	// Properties: otheruser, time
	// methods: convoClicked

	render: function() {
		return (
		<li className="hoverable" onClick={this.convoClicked}>
			<a href={"#" + this.props.otheruser} name={this.props.otheruser}>
				<div className="media conversation" name={this.props.otheruser}>
					<div className="row">
						<div className="pull-left col s4">
						<img className="media-object" data-src="/img/messageicon_silver.png" alt="msgico" src="/img/messageicon_silver.png" />
						</div>
						<div className="media-body col s8">
						<h6 className="media-heading red-text text-darken-4">{this.props.otheruser}</h6>
						</div>
					</div>
				</div>
			</a>
		</li>
		)
	}

});


var Messages = React.createClass({

	

	displayFile: function() {
		var filetext = document.getElementById("uploadedfile");
		var filename = document.getElementById("addedpic");
		if (filename.value != null)
		{
			filetext.innerHTML = filename.value.replace("C:\\fakepath\\","");
		}
	},

	

	render: function() {
		//var convos = this.props.convos.sort(function(a, b) { return b - a});

		var that = this;
		var msgTabs = this.props.convos.map(function(data) {
			//var otheruser = "";
			if (data.username == currentUser.username) {
				return;
			}

			return (
				<MessageTabs key={data.socket} messages={that.props.messages} user_id={data.user_id} username={data.username} time={data.time} convo_ids={data.convo_ids} />
			)
			

			
		});
		//console.log(this.props.convos.length + " is the num of ppl online");
		if (this.props.convos.length == 1) {
			msgTabs = <MessageTabs key={"boondoggles"} messages={[]} user_id={"none"} username={"none"} time={"none"} convo_id={"none"} />
		}

		

		return (
		<div className="message-wrap col s8">
			{msgTabs}
			<div className="divider"></div>
			<form id="messagebox" onChange={this.props.onChange} enctype="multipart/form-data">
            	<div className="send-wrap">
                <textarea className="materialize-textarea red-text text-darken-4" id="msgbox" name="msgbox" placeholder="Write a reply..."></textarea>
            	</div>
            	<div className="btn-panel">
                	<input type="hidden" form="messagebox" id="hiddenrecip" value="" name="recipient" />
                	<button type="button" className="btn grey lighten-5 red-text text-darken-4"
                   onClick={this.addFile} ><i className="fa fa-upload"></i> Add Picture</button>
                
                	<input type="file" form="messagebox" onChange={this.displayFile} name="advisorpic" id="addedpic" accept="image/*" />
                	<button type="button" onClick={this.props.sendMessage} id="submitform" className="col s3 btn right grey lighten-5 red-text text-darken-4"
                   ><i className="fa fa-comment"></i> Send</button>
            	</div>
				<label className="col s2" id="uploadedfile"></label>
				<label className="col s2 right" id="charcount"></label>
        	</form>
		</div>
		)
		
	}

});


var MessageTabs = React.createClass({

	

	render: function() {
		if (this.props.messages.length > 0) {
			var that = this;
			var Msgs = this.props.messages.map(function(data) {
				// map each message to a msg object in the current tab
				var isIn = that.props.convo_ids.some(function (cnv) {
					
					return cnv._id === data.convo_fk;
				});

				
				var isMine = false;
				if (currentUser.convos) {
					isMine = currentUser.convos.some(function (cnv) {
						return data.convo_fk === cnv._id;
					});
				}
				

				if (isIn && isMine) {
					return(
						<Msg key={data._id} user={data.user_fk.username} convo={data.convo_fk} 
						time={generateDate(data.time)} text={data.text}/>
					)
				}
				
				return
			});
		}
		


		return (
				<div className="tabContent" id={this.props.username}>
					<div className="msg-wrap" name={"mainthing." + this.props.username}>
						{Msgs}
					</div>
				</div>
			)
	}

});

var Msg = React.createClass({

	render: function() {

		var mediaMsg;
		//console.log(currentUser.username + " ====?? to " + this.props.user);
		if (currentUser.username === this.props.user) {
			mediaMsg = "/img/messageicon.png";
		} else {
			mediaMsg = "/img/messageicon_silver.png";
		}

		return (
		<div className="media msg">
            <a className="pull-left" href="#">
                <img className="media-object" data-src="holder.js/64x64" alt="64x64" src={mediaMsg} />
            </a>
            <div className="media-body">
                <small className="pull-right time"><i className="fa fa-clock-o"></i>{this.props.time}</small>

                <h5 className="media-heading">{this.props.user}</h5>
                <small className="col-lg-10">{this.props.text}</small>
            </div>
        </div>
        )
	}
});




React.render(
	<ChatApp />,
	document.getElementsByClassName("container")[0]
	);

</script>
<audio>
	<source src="/audio/ding.mp3"></source>
	Your browser doesn't support audio.
</audio>
<body>
<nav class="red darken-4">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Basic Chat</a>
    <ul id="nav-mobile" class="left hide-on-small-and-down">
      <li><a href="/"><i class="material-icons left">store</i>Home</a></li>
      <li><a href="/chat">Chat</a></li>
      <li><a id="profile" href="/profile">Profile</a></li>
      </ul>
    <ul class="right hide-on-small-and-down">
      <li><a id="logout" href="/logout">Log out</a></li>
    </ul>
  </div>
</nav>

<div class="container">

<!-- React gets generated here -->
</div>

</body>
</html>