<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Basic Chat Login Page" />
    <meta name="author" content="Jesse Bartola" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Login</title>
    <style type="text/css">
      body { background-color:lightgray;}
      div.parallax-container { height:450px;}
      .swag {transform: scale(2,2);}
      .hoverable {border-radius:10px;}
    </style>
    <script src="/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <!-- CUSTOM STYLE CSS -->
</head>
<script src="/socket.io/socket.io.js"></script>

<script>

$(document).ready(function() {
    $(".parallax").parallax();
    
});

  
</script>
<body>
<nav class="red darken-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Basic Chat</a>
        <ul id="nav-mobile" class="left hide-on-small-and-down">
            <li><a href="/"><i class="material-icons left">store</i>Home</a></li>
            <li><a href="/chat">Chat</a></li>
            <!--<li><a href="#">Profile</a></li>-->
        </ul>
        <ul class="right hide-on-small-and-down">
            <li><a class="btn grey lighten-5 red-text text-darken-4" href="/register">Register</a></li>
        </ul>
    </div>
  </nav>

    <div class="contaminer">
    <!-- <div id="central" class="col s4">
        <div class="row">
        <div class="col s4 push-s4">
        
        
        
        </div><div class="card-panel grey lighten-5 red-text text-darken-4">
            <h3 align="center">Welcome!</h3>

        </div>
    </div> -->
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
              
              <h1 class="header center red-text text-darken-4">Basic Chat</h1>
            <div class="row center">
              <br/>
              <h5 class="header col s12 white-text strong">Portable chat app on the go!</h5>
            </div>
            <br/>
            <div class="row center">
              <a href="/register" id="register-button" class="btn btn-large grey waves-effect lighten-5 red-text text-darken-4">Register</a>
              <h5 class="header white-text strong">or</h5>
              <a href="/login" id="login-button" class="btn btn-large grey waves-effect lighten-5 red-text text-darken-4">Login</a>
            </div>
            <br><br>

            </div>
        </div>
    <div class="parallax"><img src="/img/background-golf.jpg" alt="golf-bg" style="display: block; transform: translate3d(-50%, 290px, 0px);"></div>
    </div>

    <div class="row container">
        <div class="col s12 m4 hoverable">
          <a href="/chat">
          <div class="icon-block">
            <h2 class="center red-text text-darken-4"><i class="material-icons swag">comment</i></h2>
            <h5 class="center">Basic Chat v0.90</h5>

            <p class="white-text">Try our chat system! Register for an account and proceed to chat with anybody online!</p>
          </div>
          </a>
        </div>

        <div class="col s12 m4 hoverable">
          <a href="/tictac">
          <div class="icon-block">
            <h2 class="center red-text text-darken-4"><i class="material-icons swag">view_module</i></h2>
            <h5 class="center">Tic Tac Toe</h5>

            <p class="white-text">Currently in development, but is soon to be released as one of the most exciting versions of tic tac toe you have ever played!</p>
          </div>
          </a>
        </div>

        <div class="col s12 m4 hoverable">
          <div class="icon-block">
            <h1 class="center red-text text-darken-4"><i class="material-icons swag">query_builder</i></h1>
            <h5 class="center">What's coming next?</h5>

            <p class="white-text">Stay tuned...</p>
          </div>
        </div>
      </div>
</div>

    <!-- USING SCRIPTS BELOW TO REDUCE THE LOAD TIME -->
    <!-- CORE JQUERY SCRIPTS FILE -->
    
</body>

</html>
