<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Basic Chat registration interface" />
    <meta name="author" content="Jesse Bartola" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Basic Chat</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <!-- CUSTOM STYLE CSS -->
</head>

<script type="text/javascript">
    $(document).ready(function(){
        // initialize the navbar
        $(".button-collapse").sideNav();

        $("button").click(function() {
            var inputs = $("input");
            inputs.splice(8,2);
            inputs.push($("textarea"));
            var missingfield = "";
            for (var i = 0; i < inputs.length; i++) {
                if ($(inputs[i]).val() == "") {
                    missingfield = $(inputs[i]).attr("name");
                    break;
                }
            }

            if (missingfield == "") {

                if ($("#pw1").val() != $("#pw2").val()) {
                    Materialize.toast("Passwords do not match up! Try again.", 5000);
                } else {
                    $('#register').submit();
                    console.log("Registration Completed.");
                }

            } else {
                // show alert if all fields are not filled out
                Materialize.toast("You forgot to fill out the " + missingfield + " field!", 6000);

            }
        });
    });
</script>

<body>


<nav class="red darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Basic Chat</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-small-and-down">
            <li><a href="/"><i class="material-icons left">store</i>Home</a></li>
            <li><a href="/chat">Chat</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="/login">Login</a></li>
            <li><a href="/chat">Chat</a></li>
        </ul>
        <ul class="right hide-on-small-and-down">
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</nav>

<div class="container">
<div class="row">
    <div class="col s8 push-s2 regi">
        
        <div class="card-panel grey lighten-5 red-text text-darken-4">
            <h2 style="font-size: 7vmin;" align="center">User Registration</h2>

        </div>
    </div>
</div>
<div class="row">
<form action="/register" method="post" id="register" class="col s6 push-s3">
    <div class="row">
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">perm_identity</i>
            <input type="text" class="validate" name="name" id="name">
            <label class="active" for="name">Full name</label>
        </div>
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">email</i>
            <input type="email" class="validate" name="email" id="email">
            <label class="active" for="email" data-error="wrong" data-success="right">
                E-mail
            </label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">contacts</i>
            <input type="text" class="validate" name="username" id="username">
            <label class="active" for="username">Username</label>
        </div>
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">vpn_key</i>
            <input type="password" class="validate" name="password1" id="pw1">
            <label class="active" for="pw1">Password</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">language</i>
            <input type="text" class="validate" name="location" id="location">
            <label class="active" for="location">Location</label>
        </div>
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">warning</i>
            <input type="password" class="validate" name="password2" id="pw2">
            <label class="active" for="pw2">Confirm Pass</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12" style="padding-left: 40%;">
        <button type="button" class="grey lighten-5 red-text text-darken-4 btn btn-large">
        Register
        </button>
        </div>
    </div>
    
    <br>
    
</form>
</div>
</div>
</div>
</body>

</html>