   .conversation-wrap
    {
        padding:0;
        height:610px;
        
        overflow-y: scroll;
    }

    .conversation
    {
        padding:5px;
        border-bottom:1px solid #ddd;
        margin:0;

    }

    .message-wrap {
        border: 1px solid black; 
        border-radius: 25px; 
        box-shadow: 15px 15px 10px #888888;
    }
    
    .msg-wrap
    {
        height:500px;
        overflow-y: scroll;

    }

    .time
    {
        color:#bfd502;
    }

    ul#tabs {
        list-style-type: none;
    }

    .send-message
    {
        resize: none;
    }

    .highlight
    {
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }

    .media-object {
        height: 32px;
        width: 32px;
    }

    .send-message-btn
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;

        border-bottom-right-radius: 0;
    }

    .btn-panel .btn
    {
        color:#b8b8b8;

        transition: 0.2s all ease-in-out;
    }

    .btn-panel .btn:hover
    {
        color:#666;
        background: #f8f8f8;
    }
    .btn-panel .btn:active
    {
        background: #f8f8f8;
        box-shadow: 0 0 1px #ddd;
    }

    .btn-panel-conversation .btn,.btn-panel-msg .btn
    {

        background: #f8f8f8;
    }


    .msg-date
    {
        background: none;
        text-align: center;
        color:#aaa;
        border:none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }

    .card-panel {
        text-align: center;
    }

    body { 
        background-color:lightgray;
    }

    input#addedpic {
        display: none;
    }

    div.tabContent.hide { 
        display: none;
    }

    .labels {
        font-family: Courier-Bold;
    }

    .data {
        width: 100%; 
        border: 10px groove #b71c1c; 
        padding: 10px;
    };
    
    
    
    .hoverable { 
        border-radius:15px;
    }

    div.parallax-container { 
        height:450px;
    }
    
    .swag {
        transform: scale(2,2);
    }


    body::-webkit-scrollbar {
        width: 12px;
    }
 
    
    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background:#ddd; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: #ddd; 
    }
